
<form *ngIf="loginForm" [formGroup]="loginForm">
  <input formControlName="username" placeholder="Usuario" />
  <br>
  <input formControlName="password" placeholder="Contraseña" type="password" />
  <br>
</form>

<div>
  <span *ngIf="!loginForm?.valid">Complete todos los campos</span>
</div>

<button (click)="login()">Ingresar</button>
